<<<<<<< HEAD
<h1>編集</h1>
=======
<h1>健康観察</h1>
>>>>>>> 15c18c655a48eeb50ca6ae09651f0c164c3f41f4

<%= render 'form', health: @health %>

<%= link_to '詳細', @health %> |
<%= link_to '戻る', healths_path %>
