<% require "date" %>
<p id="not""ice"><%= notice %></p>

<h1>カウンセリング一覧</h1>

<table border="1">
  <thead>
    <tr>
      <th>日にち</th>
      <th>先生</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @counsels.each do |counsel| %>
      <% if counsel.day > @today %>
        <tr>
          <td><%= counsel.day %></td>
          <td><%= counsel.teacher %>先生</td>
          <td><%= link_to '選択', new_counseling_path(counsel_id: counsel.id) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
