
<head>
 <h1>感染症情報</h1>
 <p>感染症情報を掲示します</p>
</head>
<body>
   <p class="linkbox"><%= link_to "島根県インフルエンザ情報", "https://www.pref.shimane.lg.jp/bousai_info/yakuji/kansensyo/other/influ_tyuihou_keihou.html" , target: :_blank, rel: "noopener noreferrer"%>
  
   <p class="linkbox"><%= link_to "島根県コロナウイルス情報", "https://www.pref.shimane.lg.jp/bousai_info/bousai/kikikanri/shingata_taisaku/new_coronavirus_portal.html" , target: :_blank, rel: "noopener noreferrer"%>
 
   <p class="linkbox"><%= link_to "そのほかの感染症情報", "http://www.nagaoka-med.or.jp/kansensho/gakkoudensen.html", target: :_blank, rel: "noopener noreferrer"%></p>

</body>
<br>
<%= link_to 'topページに戻る', home_top_path %>

