// Place all the styles related to the answer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
    height:100%;
  }
body{
    height:100%;
  }
#a_table {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 75%;
    width: 32%;
 }
#a_table thead th{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: white;
}