// Place all the styles related to the healths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.healths {

  h1 {
    text-align: center;
  }

  .input-health {
    text-align: center;
  }

  table{
    border-collapse:collapse;
    margin:0 auto;
  }
  th{
    color: white;
    background: #6699CC;
  }
  td{
    border: 1px solid #999;
  }
  table tr:nth-child(odd){
    background:white;
  }

  }