// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {

  header h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 55px;
    font-family: 'Mv Boli';
  }

  header p {
    text-align: right;
    font-size: 23px;
  }

  .health {
    position: relative;
    width: 28%;
    height: auto;
    left: 15%;
    top: 15%;
    img {
      position: absolute;
      width: 100%;
      height: auto;
    }
    :hover {
      opacity: 0.8;
      color: #696969;
    }
  }

  .counsel {
    position: relative;
    width: 28%;
    height: auto;
    left: 60%;
    top: 15%;
    img {
      position: absolute;
      width: 100%;
      height: auto;
    }
    :hover {
      opacity: 0.8;
      color: #696969;
    }
  }

  .infection {
    position: relative;
    width: 28%;
    height: auto;
    left: 15%;
    margin-top: 23%;
    img {
      position: absolute;
      width: 100%;
      height: auto;
    }
    :hover {
      opacity: 0.8;
      color: #696969;
    }
  }

  .question {
    position: relative;
    width: 28%;
    height: auto;
    left: 60%;
    margin-top: 23%;;
    img {
      position: absolute;
      width: 100%;
      height: auto;
    }
    :hover {
      opacity: 0.8;
      color: #696969;
    }
  }

  .shape {
    width: 200px;
    height: 60px;
    background: beige;
    border-radius: 50%;
    position: absolute;
    left: 2%;
    bottom: 3%;
    .log_out {
      text-decoration: none;
      font-size: 25px;
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      padding-top: 20px;
      :link {
        text-decoration: none;
      }
    }
  }


}