// Place all the styles related to the infection controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.linkbox {
    display: inline-block;      /* インラインブロック要素にする */
    padding:  5%;             /* 余白指定 */
    height: auto;              /* 高さ指定 */
    margin: 5%;
	position: relative;
	width: auto;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: rgba(253, 209, 63, 0.774);
	border-radius: 100vh;

}
.linkbox:hover{
    cursor: pointer;
	 text-decoration: none;
	background:#90fd02;
	

}
a {
	color:#F00;
	text-decoration:underline;
	}